 .container {
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
    width: 400px;
    min-height: 60px;
  }
  
  .draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
  }
  
  .draggable.dragging {
    opacity: .5;
  }

  input, textarea {
    width: 100%;
  }