body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}

@media only screen and (max-width: 650px) {
    body {
        width: 550px;
    }
  }

.nav, .infoRow {
    display: flex;
    justify-content: space-between;
}
.nav {
    font-size: 18px;
    border-bottom: solid;
    min-height: 117px;
    padding-bottom:10px;
}

.navRight {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    
}

a:link {
  color: rgba(140,60,140);
}
  
  /* visited link */
a:visited {
    color: rgba(140,60,140);
}

.leftContent, .rightContent {
    padding-left: 15px;
    padding-right: 15px;
}


.flashMessages {
    padding: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    background-color: rgba(90 ,20,90,.2);
    border-radius: 10px;
    transition: opacity 500ms 3s;
}

.imageRow {
    display: flex;
    justify-content: space-between;
}

.itemDisplay {
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 283px;
    padding: 5px;
    border: solid rgba(200,200,200);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(120,120,120,.7);
    margin: 5px;
}

.itemDisplay > img {
    width:310px;
    height: 240px;
}


/* @media only screen and (max-width: 650px) {
    .imageRow {
        flex-direction: column;
    }
    .itemDisplay {
        flex: 1 1 auto;        
    }
    .itemDisplay > img {
        width: auto;
        height: 240px;
    }
} */


.itemDisplayName {
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
}

.itemDisplayDesc {
    color: rgba(100,100,100)
}

.disabled-link {
    text-decoration: none;
    color: black;
}

.mainContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fadeout {
    opacity: 0;
    pointer-events: none;
}

.hideControls {
    visibility: hidden;
}

.course-image {
    max-width: 600px;
}

.lessons-list {
    display: flex;
}

.lesson-in-list {
    padding: 10px;
    border-radius: 10px;
    margin: 25px;
    border: solid;
    border-color: lightblue;
    text-align: center;
}

.button {
    background-color: thistle ; 
    border: none;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #c8afc8 
}

.disabled-wrapper {
    cursor: not-allowed;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
  }