body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}

@media only screen and (max-width: 650px) {
    body {
        width: 550px;
    }
  }

.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 18px;
    border-bottom: solid;
    min-height: 117px;
}

.navRight {
    padding: 15px;
}

.flashMessages {
    padding: 5px;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    background-color: rgba(90,20,90,.2);
    border-radius: 10px;
}

.imageRow {
    display: flex;
    justify-content: space-between;
}

.itemDisplay {
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 283px;
    padding: 5px;
    border: solid rgba(200,200,200);
    border-radius: 10px;
    margin: 5px;
}

.itemDisplay > img {
    width:310px;
    height: 240px;
}


/* @media only screen and (max-width: 650px) {
    .imageRow {
        flex-direction: column;
    }
    .itemDisplay {
        flex: 1 1 auto;        
    }
    .itemDisplay > img {
        width: auto;
        height: 240px;
    }
} */


.itemDisplayName {
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
}

.itemDisplayDesc {
    color: rgba(100,100,100)
}

.disabled-link {
    text-decoration: none;
    color: black;
}