<html>
    <head>
      <title>Video Training App</title>
      <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
      <div class="nav">
        <div class="navLeft">
          <a href="{{ url_for('index') }}">Video Training Site</a>
        </div>
        <div class="navRight">
          {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
          {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            &nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}  
        </div>
      </div>        
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashMessages">
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% endwith %} 
      <div class="mainContentWrapper">
        {% block content %}{% endblock %}
      </div>
    </body>
</html>