{% extends "base.html" %}

{% block content %}
    <h1>Course: {{ course.name }}</h1>
    <hr>
    <p>Description: {{ course.description }}</p>
    <img src="{{ url_for('displayImg',filename=course.imgFileLoc) }}" alt="" />

    {% if course.lessonsIncluded %}
        <a href="{{ url_for('enrollInCourse', courseId=course.id) }}">Enroll in course</a>
        <a href="{{ url_for('lessonInCourse', lessonId=course.lessonsIncluded[0].id, courseId=course.id ) }}">
            Start the Course!
        </a>
        <p>Lessons in Course:</p>
            {% for lesson in course.lessonsIncluded %}
            <p>
            Lesson Name: {{ lesson.name }}
            </p>
            {% endfor %}
    {% endif %}
{% endblock %}