{% extends "base.html" %}

{% block content %}
    <h3>{{ course.name }}</h3>
    <p>{{ course.description }}</p>
    {% if userEnrolled %}
        <a href="{{ url_for('lessonInCourse', lessonId=course.lessonsIncluded[0].id, courseId=course.id ) }}">
            Start the Course!
        </a>
    {% else %}
        <a href="{{ url_for('enrollInCourse', courseId=course.id) }}">Enroll in course</a>
    {% endif %}
    <br/>
    <img class="course-image" src="{{ url_for('displayImg',filename=course.imgFileLoc) }}" alt="" />
    {% if course.lessonsIncluded %}
        <h3>Lessons in Course:</h3>

        <div class="lessons-list">
            {% for lesson in course.lessonsIncluded %}
            <div class="lesson-in-list">{{ lesson.name }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}