{% extends "base.html" %}

{% block content %}
    <h1>Create Lesson</h1>
    <form action="" method="post" enctype = "multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=129) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.duration.label }}<br>
            {{ form.duration(size=32) }}<br>
            {% for error in form.duration.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <label for="imgFile">
                Select Cover Image:
                <input type=file name='imgFile' >
            </label>
        </p>
        <p>
            <label for="vidFile">
                Select Video: 
                <input type=file name='vidFile' >
            </label>
        </p>
        <p>{{ form.submit(class="signon") }}</p>
    </form>
{% endblock %}