{% extends "base.html" %}

{% block content %}
    {% if not current_user.is_authenticated %}
        <h3>Welcome</h3>
        <p>You'll find a variety of training videos on this app.&nbsp;&nbsp;You'll want to login to take any of the trainings.</p>
        <p>Here's a sampling of available courses.</p>
    {% else %}
        <h3>Welcome, {{ current_user.username }} </h3>
        {% if userCourses %}
            <p>Here are the courses you're currently enrolled in:</p>
            <div class="imageRow">
                {% for course in userCourses %}
                <a href="{{ url_for('course',courseId=course.id) }}" class="disabled-link">
                    <div class="itemDisplay">
                        <img src="{{ url_for('displayImg',filename=course.imgFileLoc) }}" alt="course image" />
                        <div class="itemDisplayName">{{ course.name }}</div>
                        <div class="itemDisplayDesc">{{ course.description }}</div>
                    </div>
                </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if userCourses and courses %}
        <p>Other courses in the catalog: </p>
        {% elif courses %}
        <p>Consider one of the courses in the catalog: </p>
        {% endif %}
    {% endif %}
        <div class="imageRow">
            {% for course in courses %}
            <a href="{{ url_for('course',courseId=course.id) }}" class="disabled-link">
                <div class="itemDisplay">
                    <img src="{{ url_for('displayImg',filename=course.imgFileLoc) }}" alt="course image" />
                    <div class="itemDisplayName">{{ course.name }}</div>
                    <div class="itemDisplayDesc">{{ course.description }}</div>
                </div>
            </a>
            {% endfor %}    
        </div>
{% endblock %}
