{% extends "base.html" %}

{% block content %}
    <div class="lessonDisplay">
        <div class="infoRow">
            <h3>{{ lesson.name }}</h3>
            <p>{{lesson.description}}</p>
        </div>
        <video width="600" height="400" controls>
            <source src="{{ url_for('displayVid',filename=lesson.vidFileLoc) }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>{{ form.submit() }}</p>
        </form>
    </div>

{% endblock %}