{% extends "base.html" %}

{% block content %}
    <h1>User: {{ user.username }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Lessons Complete: {{ lessonsComplete }}</p>
    <hr>
    <p>Completed Lessons: </p>
    {% if not user.lessonsComplete %}
        <p>No completed lessons</p>
    {% else %}
        {% for lesson in user.lessonsComplete %}
        <p>
            {{ lesson.id }} says: <b>{{ lesson.name }}</b>
        </p>
        {% endfor %}
    {% endif %}

    <hr>
    {% if user.adminPrivilege %}
        <a href="{{ url_for('admin', username=user.username) }}">Admin Controls</a>
    {% endif %}


{% endblock %}